@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(https://media.tenor.com/images/8ad7e27c04f68d43526032f33100f0c1/tenor.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}
body {
    height: 100%;
}
